body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options-container {
  display: flex;
  justify-content: space-around;
}

.buttons {
  background-color: aliceblue;
  text-align: center;
}

#rgb {
  background: linear-gradient(to right, red, green, blue);
}

.grid {
  margin-top: 50px;
  display: inline-grid;
  grid-template-columns: repeat(16, 2fr);
  grid-template-rows: repeat(16, 2fr);
  border: 5px solid rebeccapurple;
  border-radius: 5px;
  width: 575px;
  height: 575px;
  background-color: grey;
  box-shadow: 5px 5px;
}

.cell {
  background-color: white;
  border: 1px solid black;
}

#color-selector {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderAndValue {
  display: flex;
  justify-content: center;
  align-items: center;
}