* {
    background-color: grey;
}

#container {

}

.grid-square {

}

#input-container {
    display: flex;
    flex-direction: column;
}

#practice-pixel {
    border: solid red;
}

#practice-pixel:hover {
    background-color: rebeccapurple;
}